
python1/lesson4/.ipynb_checkpoints/Lesson4-checkpoint.ipynb
python1/lesson4/creditcard.csv
python1/lesson6/creditcard.csv
python1/lesson6/.ipynb_checkpoints/lesson6-checkpoint.ipynb
python1/lesson8/.ipynb_checkpoints/lesson8-checkpoint.ipynb
