
python1/lesson4/.ipynb_checkpoints/Lesson4-checkpoint.ipynb
python1/lesson4/creditcard.csv
python1/lesson6/creditcard.csv
python1/lesson6/.ipynb_checkpoints/lesson6-checkpoint.ipynb
python1/lesson8/.ipynb_checkpoints/lesson8-checkpoint.ipynb
python1/kursovaia/.ipynb_checkpoints/kursovaia-checkpoint.ipynb
python1/kursovaia/test.csv
python1/kursovaia/train.csv
vyshmat1/.ipynb_checkpoints/lesson3-checkpoint.ipynb
vyshmat1/.ipynb_checkpoints/lesson4-checkpoint.ipynb
vyshmat1/.ipynb_checkpoints/lesson3-checkpoint.ipynb
